.login-page {
  min-height: 100vh;
}

.schedule-page {
  min-height: 100vh;
}

.task-page {
  min-height: 100vh;
}

.task-title {
  font-size: 1.3em;
  /* border-bottom: solid 1px; */
}

.navigator {
  position: sticky;
  bottom: 0px;
}

.links {
  color: inherit;
}

.links:hover {
  color: inherit;
}
